body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222;
	font-family: Rubik, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body * {
	color: #ccc;
}

header {
	height: 2vh;
	margin-bottom: 2px;
}

main {
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	gap: 1em;
	width: 100%;
	height: calc(98vh - 2px);
}

main > * {
	overflow: hidden;
	height: 100%;
	width: 50vw;

	/* padding: 50px; */
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	opacity: 1;
}

.stripe {
	height: 8em;
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 1em;
	opacity: 0.99;
}

.stripe > * {
	opacity: 1;
	text-shadow: 2px 2px 5px black, -2px -2px 5px black;
	font-size: larger;
	color: wheat;
	font-weight: 700;
}

.stripe > img {
	height: 90%;
	background-color: wheat;
}

h1 {
	letter-spacing: 0.1em;
	font-size: larger;
}

p {
	letter-spacing: 0.05em;
	font-weight: 100;
	opacity: 0.75;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	text-align: justify;
	border-top: 1px groove #ccc;
	border-bottom: 1px groove #ccc;
	width: 60%;
}

form > * {
	width: 100%;
}

.svg {
	color: wheat;
	text-align: center;
	margin-top: 0.5em;
	font-weight: 1000;
}

label {
	color: wheat;
	text-align: center;
	letter-spacing: 0.125em;
	font-weight: 300;
}

input {
	appearance: none;
	color: #222;
	border-radius: 1em;
	padding: 0.3em 0.5em;
	outline: none;
	border: none;
	width: 95%;
	animation-name: default;
	animation-duration: 0.2s;
	font-size: 100%;
}

@keyframes default {
	from {
		font-size: 110%;
	}

	to {
		font-size: 100%;
	}
}

input:focus {
	animation-duration: 0.2s;
	animation-name: active;
	font-size: 110%;
}

@keyframes active {
	from {
		font-size: 100%;
	}

	to {
		font-size: 110%;
	}
}

input:invalid {
	outline: 1px solid red;
	color: red;
}

input:hover {
	background-color: #bbb;
}

button {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	outline: 3px solid wheat;
	cursor: pointer;
	border-radius: 1em;
	width: 5em;
	height: 2em;
	background-color: #222;
	color: wheat;
	margin: 2.5em 0.3em;
}

.inner-footer a {
	color: wheat;
	font-weight: bold;
	opacity: 1;
}
