body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222;
	font-family: "Rubik", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
}

body * {
	color: #ccc;
}

header {
	height: 2vh;
	margin-bottom: 2px;
}

main {
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	gap: 1em;
	width: 100%;
	height: calc( 98vh - 2px );
}

main > * {
	overflow: hidden;
	height: 100%;
	width: 50vw;
	/* padding: 50px; */
}

.wrapper {
	position: relative;
	overflow: hidden;
	opacity: 1;
}

.left {
	position: relative;
}

h1 {
	letter-spacing: 0.1em;
	font-size: larger;
}

p {
	letter-spacing: 0.05em;
	font-weight: 100;
	opacity: 0.75;
}

img {
	position: absolute;
	opacity: 0.25;
	opacity: 0.25;
	width: 100vh;
}
	width: 100vh;
	width: 100vh;
	width: 100vh;
}

/* .right {} */

