body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222;
	font-family: "Rubik", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
}

body * {
	color: #ccc;
}

header {
	height: 2vh;
	margin-bottom: 2px;
}

main {
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	gap: 1em;
	width: 100%;
	height: calc( 98vh - 2px );
}

main > * {
	overflow: hidden;
	height: 100%;
	width: 50vw;
	/* padding: 50px; */
}

.wrapper {
	position: relative;
	overflow: hidden;
	opacity: 1;
}

.left {
	position: relative;
}

h1 {
	letter-spacing: 0.1em;
	font-size: larger;
}

p {
	letter-spacing: 0.05em;
	font-weight: 100;
	opacity: 0.75;
}

img {
	position: absolute;
	opacity: 0.25;
	opacity: 0.25;
	width: 100vh;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	text-align: justify;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

form > * {
	width: 60%;
}

.svg {
	color: wheat;
	text-align: center;
	margin-top: 0.5em;
	font-weight: 1000;
}

label {
	color: wheat;
	text-align: center;
	letter-spacing: 0.125em;
	font-weight: 300;
}

input {
	-webkit-appearance: none;
	appearance: none;
	color: #222;
	border-radius: 1em;
	padding: 0.3em 0.5em 0.3em 0.5em;
	border: none;
	outline: none;
}


button {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	outline: 3px solid wheat;
	cursor: pointer;
	border-radius: 1em;
	width: 7em;
	height: 2em;
	background-color: #222;
	color: wheat;
	margin: 1em;
}

